@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    align-items: center;
    height: 300px;
}

.login{
    display: flex;
    flex-direction: column;
    margin: 150px;   
}

.login h3{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: white;
}

.login input{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 29px;
    border-style: solid;
    border-color: red;
    
}

.login button{
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 29px;
    background-color: red;
    font-family: 'Inter', sans-serif;
    border-color: white;
    border-style: solid;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.cadastre-se{
    display: flex;    
}

.cadastre-se p{
    color: white;
    font-family: 'Inter', sans-serif;
}

.cadastre-se a{
    color: red;
    font-family: 'Inter', sans-serif;
    padding-left: 10px;
}